$primary: rgb(242, 212, 157);
$secondary: rgb(184, 165, 197);
$success: rgb(242, 237, 233);

@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "./node_modules/bootstrap-icons/font/bootstrap-icons.scss";

body {
  background-color: $success;
}

header {
  min-height: 100vh;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  .header-content {
    background-color: $secondary;
    opacity: 0.9;
    color: $success;
    padding: 60px;
    z-index: 1;
  }

  .navbar {
    opacity: 0.9;
    .nav-link:hover,
    .nav-link:focus {
      transition: border 0.2s;
      border-bottom: 1px dotted $secondary;
      margin-bottom: -1px;
    }
  }

  .header-banner {
    min-height: 100vh;
  }
}

#about {
  .container {
    background-color: $secondary;
    border-radius: 50px;
    padding-top: 10px;
    min-height: 520px;
  }

  img {
    max-height: 500px;
    border-radius: 50px;
  }
}

#skills {
  img {
    height: 40px;
  }

  .box-naming {
    // background-color: $secondary;
    // border-radius: 5px;
    // padding: 5px;
    // margin: 5px;
    p {
      margin-bottom: 0;
    }
  }

  .box {
    background-color: $secondary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
  }

  .box:hover {
    background-color: $success;
    border: 2px solid $secondary;
    margin: -2px;
  }
}

#hobbies {
  .container {
    background-color: $primary;
    border-radius: 50px;
    padding: 50px;
  }
}

#contact {
  background-image: url("./images/background-contact.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

#contact form {
  background-color: $secondary;
  opacity: 0.9;
  padding: 50px;
  border-radius: 5px;
  margin: 0 auto;

  textarea {
    min-height: 150px;
  }
  input,
  textarea {
    background-color: $success;
  }
}

.foot {
  width: 100%;
  height: 75px;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*testuju, pak smazaat*/
